body{
    background-image: url('../src/assets/simon-berger-twukN12EN7c-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.appHeader{
    font-family: 'Abril Fatface', cursive;
}